<h1>Users#create</h1>
<!-- <p>Find me in app/views/users/create.html.erb</p> -->
<h1>Create an account: </h1>
<!-- <p>Find me in app/views/users/new.html.erb</p> -->
<%= form_with do |form| %>
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <%= form.text_field :first_name, class: "input", placeholder: "First Name" %>
    </div>
  </div>
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <%= form.text_field :last_name, class: "input", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <%= form.email_field :email, class: "input", placeholder: "Email" %>
  <!--     <input class="input is-danger" type="email" placeholder="Email input" value="hello@"> -->
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <%= form.password_field :password, class:"input" %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit "Create User", class: "button is-primary is-medium is-rounded" %>
    </div>
  </div>
<%end>

